# Compilados de C
*.exe
*.out
*.o
*.obj
c_no_opt

# Temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Carpeta de entorno virtual (si usas)
venv/
.venv/

# Archivos de sistema/IDEs
.vscode/
.idea/
.DS_Store
